#gallery {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  }

#gallery .photos {
  position: relative;
  height: 920px; 
}

#gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0; /*неактивные фотки становятся прозрачными(исчезают) плавно за 1 секунду */
  transition: opacity 1s;
}

#gallery .photos img:first-child {
  opacity: 0;   
}

#gallery .photos img.active {
  opacity: 1;   
}

#signup, #signIn, #login{
  position: absolute;
}


.active-block{
  top: 20;
  
}

.closed-block{
  top: -200;
}