$color: red;

body{
  z-index: 1;
  background-color: white;
  margin: 0;
}

#gallery {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  }

#gallery .photos {
  position: relative;
  height: 50vh; 
}

#gallery .photos img {
  max-height: 40vh;
  width: auto;
  position: absolute;
  top: 0;
  left: 30%;
  opacity: 0;
  transition: opacity 1s ease-out 0.5s;
}

#gallery .photos img.active {
  opacity: 1;   
}

.modal{
  top: -40vh;
  opacity: 0;
  z-index: 0;
  position: fixed;
  padding: 15px;
  border: solid black 2px;
  background-color: rgba(255,255,255,0.7);
}

.active-block{
  opacity: 1;
  z-index: 100; 
  transform: translateY(70vh);
  transition: all 1s ease-out 0.5s;                                                                                                                                                                                                                                                                                 ;
}

#firstDiv{
  height: 10vh;
  width: 100vw;
}

#backgroundDiv{
  z-index: -100;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128,128,128,0.6);
  opacity: 0;
}

/*Spinner setup*/
.Spinner {
  margin: 150px auto;
  border-radius: 50%;
  position: relative;
  width: 10em;
  height: 10em;
  font-size: 10px;
}

.Spinner:before,
.Spinner:after {
  position: absolute;
  content: '';
}

.Spinner:before {
  top: 0;
  left: 0;
  height: 10em;
  width: 5em;
  border-radius: 10em 0 0 10em;
  background: red;
  transform-origin: 5em 5em;
  animation: load 2s infinite ease 0.5s;
}

.Spinner:after {
  top: 0;
  left: 5em;
  height: 10em; 
  width: 5em;
  border-radius: 0 10em 10em 0;
  background: red;
  transform-origin: 0em 5em;
  animation: load infinite ease 2s;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  color: $color;
}
