#gallery {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  }

#gallery .photos {
  position: relative;
  height: 920px; /*размер специально выше любой из картинок чтобы кнопки не прятались под картинками */
}

/* ниже для открытия-закрытия картинок использую свойство opacity а не display:none/block только из-за свойства transition которое можно применить к opacity. Оно позволяет плавно менять прозрачность от 0 до 1. */

#gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0; /*неактивные фотки становятся прозрачными(исчезают) плавно за 1 секунду */
  transition: opacity 1s;
}

#gallery .photos img:first-child {
  opacity: 0;   /* надо только для первой загрузки когда все фотки еще неактивны, чтобы показать первую фотографию. Потом болтается в фоне и видна при смене картинок. Надо доработать  */
}


#gallery .photos img.active {
  opacity: 1;   /*Показывает активную картинку. Класс active текущей картинке под тэгом img присваивает JS при нажатии кнопок Назад-Вперед */ 
}